<!DOCTYPE html>
<html ng-app="app">
  <head>
   <meta charset="UTF-8">
    <title>Örnek 4 (Factory)</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="./index.js"></script>
  </head>
  <body>
    <div ng-controller="Github">
    Repo İsmi : <input type="text" ng-model="repoName"> 
     <button ng-click=search()>Ara</button>
    
    
    <ul>
      
      <li ng-repeat="repo in results">
        
        {{repo.name}}
        
      </li>
      
      </ul>
    
      </div>
  </body>
</html>